html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}
body {
	background: rgb(227, 232, 239); /* backup color */
	/*background: linear-gradient(rgb(237, 242, 249), rgb(192, 217, 249));*/
	background-attachment: fixed;
}

.main{
	width: 70%;
	margin: auto;
	margin-top: 30px;
}

.menu {
	width: 70%;
	height: 40px;
	margin: auto;
	background-color: rgb(35, 54, 91);
	color: white;
}
.menu-item {
	background-color: rgb(35, 54, 91);
	color: white;
	text-align: center;
	height: 100%;
	width: 25%;
	float: left;
	transition: all 0.3s ease;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
	font-family: Electrolize, Tahoma, Geneva, sans-serif;
}
.menu-item:hover {
	background-color: rgb(44, 72, 127);
}

.entry {
	margin-bottom: 30px;
	box-shadow: 1px 1px 7px 1px rgb(181, 189, 204), -1px -1px 7px 1px rgb(181, 189, 204);
}
.entry-title {
	font-size: 1.5em;
	font-family: Electrolize, Tahoma, Geneva, sans-serif;
	background-color: rgb(35, 54, 91);
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
}
.entry-content {
	font-family: "Open Sans", Tahoma, Geneva, sans-serif;
	background-color: white;
	padding-top: 30px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 30px;
}
.content-date, .content-proglang, .content-media, .content-text {
	width: 75%;
	margin: auto;
}
.content-date {
	color: rgb(80,80,80);
}
.content-proglang {
	color: rgb(80,80,80);
}
.content-media {
	margin: auto;
	padding-bottom: 30px;
}
.image {
	max-width:100%;
	height: auto;
	display: block;
	margin: auto;
}
.video {
	max-width:100%;
	max-height: 100%;
	display: block;
	margin:auto;
}
.content-text {
	padding-top: 30px;
}
.content-button {
	margin-top: 30px;
	margin-right: 10px;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	background-color: rgb(255, 97, 0);
	color: white;
	border: 1px solid rgb(186, 68, 9);
	border-radius: 5%;
	transition: all 0.3s ease;
}
.content-button:hover {
	background-color: rgb(186, 68, 9);
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.test {
		background-color: red;
	}
	.menu, .main {
		width: 100%;
	}
	.menu-item {
		font-size: 1em;
	}
	.content-date, .content-proglang, .content-media, .content-text {
		width: 97.5%;
	}
	.content-date, .content-proglang, .content-text {
		font-size: 0.75em;
	}
	.entry-title {
		font-size: 1.25em;
		text-align: center;
		padding-left: 0px;
	}
	.video {
		width: 480px;
		height: 270px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.test {
		background-color: orange;
	}
	.menu, .main {
		width: 90%;
	}
	.menu-item {
		font-size: 1em;
	}
	.content-date, .content-proglang, .content-media, .content-text {
		width: 97.5%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.test {
		background-color: yellow;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.test {
		background-color: green;
	}
	.menu, .main {
		width: 70%;
	}
	.menu-item {
		font-size: 1.25em;
	}
	.content-date, .content-proglang, .content-media, .content-text {
		width: 90%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.test {
		background-color: blue;
	}
	.menu, .main {
		width: 900px;
	}
	.content-date, .content-proglang, .content-media, .content-text {
		width: 85%;
	}
} 